<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white">
      <Navbar />
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { Navbar } from "../../components";
export default {
  name: "Layout-Component",
  components: {
    Navbar,
  },
};
</script>
