<template>
  <q-card
    class="my-card"
    v-for="item in data"
    :key="item.id"
    @click="$emit('click', item.id)"
  >
    <q-img :src="item.imgUrl">
      <div class="absolute-top row justify-end">
        <div v-for="(genre, i) in item.genres" :key="i" class="shadow">
          <q-chip square color="secondary" text-color="white">
            {{ genre }}
          </q-chip>
        </div>
      </div>

      <div class="absolute-bottom text-subtitle2 text-start shadow">
        <h4>{{ item.title }}</h4>
        <b>{{ item.director }}</b>
        <p>{{ item.summary }}</p>
      </div>
    </q-img>
  </q-card>
</template>

<script>
export default {
  props: {
    data: Array,
  },

  setup() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
.my-card {
  width: 100%;
  height: 100%;

  border-radius: 1rem;
  cursor: pointer;
  h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  p {
    font-size: 12px;
    line-height: 12px;
  }
  b {
    line-height: 12px;
    margin: 3px 0;
  }
}

@media screen and (min-width: 767px) {
  .my-card {
    max-width: 270px;

    .shadow {
      display: none;
    }
    &:hover {
      z-index: 3;
      -webkit-animation: scale-up-center 0.4s
        cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      .shadow {
        display: inline;
      }
    }
  }
}
</style>
