<template>
  <q-card class="my-card" flat bordered>
    <q-card-section>
      <div class="text-h6 text-center text-bold">Movie Collection Empty!</div>
      <div class="item-center row justify-center">
        <q-btn
          unelevated
          label="Add Movie"
          color="primary"
          @click="$emit('click')"
        />
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "Empty-Card",
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
.my-card {
  width: 100%;
  max-width: 700px;
}
</style>
