<template>
  <div class="row justify-center items-start content-center">
    <div class="q-pa-md container">
      <q-form @submit="addMovies" class="q-gutter-md">
        <q-input
          outlined
          v-model="movie.title"
          label="Title"
          lazy-rules
          :rules="[(val) => (val && val.length > 0) || 'Please type something']"
        />
        <q-input
          outlined
          v-model="movie.director"
          label="Director"
          lazy-rules
          :rules="[(val) => (val && val.length > 0) || 'Please type something']"
        />
        <q-input
          outlined
          v-model="movie.imgUrl"
          label="Image Url"
          lazy-rules
          :rules="[(val) => (val && val.length > 0) || 'Please type something']"
        />
        <q-input
          v-model="movie.summary"
          outlined
          counter
          maxlength="100"
          bottom-slots
          standout
          type="textarea"
          label="Summary"
        />
        <div class="q-gutter-xs row">
          <div
            v-for="genre in genres"
            :key="genre.value"
            @click="selectGenre(genre.value)"
          >
            <q-chip
              class="chip"
              color="secondary"
              :outline="!genre.selected"
              text-color="white"
            >
              {{ genre.label }}
            </q-chip>
          </div>
          <p :class="invalid ? 'error-message' : 'no-error'">
            Please select genre first!
          </p>
        </div>
        <div class="row justify-end actioncontainer">
          <q-btn
            label="Cancel"
            color="primary"
            flat
            class="q-ml-sm"
            @click="routeToHome"
          />
          <q-btn unelevated label="Save" type="submit" color="primary" />
        </div>
      </q-form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Add-Movie",
  data() {
    return {
      movie: {},
      genres: [
        { label: "Drama", value: "drama", selected: false },
        { label: "Action", value: "action", selected: false },
        { label: "Animation", value: "animation", selected: false },
        { label: "Sci-Fi", value: "scifi", selected: false },
        { label: "Horor", value: "horor", selected: false },
      ],
      invalid: false,
    };
  },

  methods: {
    selectGenre(value) {
      this.invalid = false;
      this.genres.forEach((genre) => {
        if (genre.value == value) {
          genre.selected = !genre.selected;
        }
      });
    },
    async addMovies() {
      let genreSelect = [];
      this.genres.forEach((genre) => {
        if (genre.selected) {
          genreSelect.push(genre.label);
        }
      });
      this.movie.id = new Date().getTime();
      this.movie.genres = genreSelect;
      if (genreSelect.length > 0) {
        const confirm = await this.$store.dispatch("dialog/setDialog", {
          message: "Add movie data?",
        });
        if (confirm) {
          await this.$store.dispatch("movies/postMovie", this.movie);
          this.$store.dispatch("snackbar/setSnackbar", {
            type: "positive",
            message: "Data Saved!",
          });
          this.routeToHome();
        }
      } else {
        this.invalid = true;
      }
    },
    routeToHome() {
      this.$router.push("/");
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  max-width: 500px;

  padding: 10px 20px;
  margin: 10px;
}
.actioncontainer {
  margin-top: 40px;
}
.error-message {
  color: red;
}
.no-error {
  display: none;
}
</style>
