<template>
  <div class="row justify-center items-start content-center">
    <div class="q-pa-md container">
      <q-form @submit="updateMovie" class="q-gutter-md">
        <q-input
          outlined
          v-model="movie.title"
          label="Title"
          lazy-rules
          :readonly="!isEdit"
          :rules="[(val) => (val && val.length > 0) || 'Please type something']"
        />
        <q-input
          outlined
          v-model="movie.director"
          label="Director"
          lazy-rules
          :readonly="!isEdit"
          :rules="[(val) => (val && val.length > 0) || 'Please type something']"
        />
        <q-input
          outlined
          v-model="movie.imgUrl"
          label="Image Url"
          lazy-rules
          :readonly="!isEdit"
          :rules="[(val) => (val && val.length > 0) || 'Please type something']"
        />
        <q-input
          v-model="movie.summary"
          outlined
          counter
          maxlength="100"
          bottom-slots
          standout
          :readonly="!isEdit"
          type="textarea"
          label="Summary"
        />
        <div class="q-gutter-xs row">
          <div
            v-for="genre in genres"
            :key="genre.value"
            @click="selectGenre(genre.value)"
          >
            <q-chip
              class="chip"
              color="secondary"
              :outline="!genre.selected"
              text-color="white"
            >
              {{ genre.label }}
            </q-chip>
          </div>
          <p :class="invalid ? 'error-message' : 'no-error'">
            Please select genre first!
          </p>
        </div>
        <div class="row justify-end q-gutter-xs actioncontainer">
          <q-btn
            v-if="!isEdit"
            label="Cancel"
            color="primary"
            flat
            class="q-ml-sm"
            @click="routeToHome"
          />
          <q-btn
            v-if="isEdit"
            label="Cancel"
            color="primary"
            flat
            class="q-ml-sm"
            @click="isEdit = !isEdit"
          />
          <q-btn
            v-if="!isEdit"
            unelevated
            label="Delete"
            @click="deleteMovie"
            color="negative"
          />
          <q-btn
            v-if="isEdit"
            unelevated
            label="Save"
            type="submit"
            color="primary"
          />
          <q-btn
            v-if="!isEdit"
            unelevated
            label="Edit"
            @click="isEdit = !isEdit"
            color="warning"
          />
        </div>
      </q-form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Add-Movie",
  data() {
    return {
      movie: {},
      genres: [
        { label: "Drama", value: "drama", selected: false },
        { label: "Action", value: "action", selected: false },
        { label: "Animation", value: "animation", selected: false },
        { label: "Sci-Fi", value: "scifi", selected: false },
        { label: "Horor", value: "horor", selected: false },
      ],
      invalid: false,
      isEdit: false,
    };
  },
  mounted() {
    this.getData();
  },

  methods: {
    async getData() {
      const res = await this.$store.dispatch(
        "movies/getMovieById",
        this.$route.query.id
      );
      this.movie = res;
      this.genres.forEach((genre) => {
        for (let i = 0; i < res.genres.length; i++) {
          const el = res.genres[i];
          if (genre.label == el) {
            genre.selected = true;
          }
        }
      });
    },
    selectGenre(value) {
      this.invalid = false;
      if (this.isEdit) {
        this.genres.forEach((genre) => {
          if (genre.value == value) {
            genre.selected = !genre.selected;
          }
        });
      }
    },
    async updateMovie() {
      let genreSelect = [];
      this.genres.forEach((genre) => {
        if (genre.selected) {
          genreSelect.push(genre.label);
        }
      });
      this.movie.genres = genreSelect;
      if (genreSelect.length > 0) {
        const confirm = await this.$store.dispatch("dialog/setDialog", {
          message: "Update movie data?",
        });
        if (confirm) {
          await this.$store.dispatch("movies/updateMovie", this.movie);
          this.$store.dispatch("snackbar/setSnackbar", {
            type: "positive",
            message: "Data Updated!",
          });
          this.routeToHome();
        }
      } else {
        this.invalid = true;
      }
    },
    async deleteMovie() {
      const confirm = await this.$store.dispatch("dialog/setDialog", {
        message: "Are you sure delete movie?",
      });
      if (confirm) {
        await this.$store.dispatch("movies/deleteMovie", this.$route.query.id);
        this.$store.dispatch("snackbar/setSnackbar", {
          type: "positive",
          message: "Data Deleted!",
        });
        this.routeToHome();
      }
    },
    routeToHome() {
      this.$router.push("/");
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  max-width: 500px;

  padding: 10px 20px;
  margin: 10px;
}
.actioncontainer {
  margin-top: 40px;
}
.error-message {
  color: red;
}
.no-error {
  display: none;
}
</style>
