<template>
  <div>
    <div class="q-gutter-y-md">
      <div class="gradient__bg text-center text-white">
        <q-toolbar>
          <q-toolbar-title
            ><strong>{{ $route.name }}</strong></q-toolbar-title
          >
        </q-toolbar>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Navbar-Component",
  setup() {
    return {
      genre: null,
    };
  },
};
</script>

<style scoped>
.bar {
  height: 5em;
}
</style>
