<template>
  <div
    class="q-pa-md row items-start justify-between q-gutter-md search-container"
  >
    <div>
      <q-input
        @input="searchAction"
        outlined
        v-model="search"
        label="Search movies"
      />
    </div>
    <!-- <div class="q-gutter-xs row">
      <div
        v-for="genre in genres"
        :key="genre.value"
        @click="selectGenre(genre)"
      >
        <q-chip
          class="chip"
          color="secondary"
          :outline="!genre.selected"
          text-color="white"
        >
          {{ genre.label }}
        </q-chip>
      </div>
    </div> -->
  </div>
  <div
    class="q-pa-md row items-center justify-center q-gutter-md"
    v-if="jsonData.length > 0"
  >
    <CardMovie :data="jsonData" @click="viewDetail" />
  </div>
  <div v-else class="q-pa-md row items-center justify-center">
    <EmptyCard @click="routoToAdd" />
  </div>
  <q-page-sticky position="bottom-right" :offset="[18, 18]">
    <q-btn fab icon="add" color="secondary" @click="routoToAdd">
      <q-tooltip transition-show="scale" transition-hide="scale">
        Add Movie
      </q-tooltip>
    </q-btn>
  </q-page-sticky>
</template>

<script>
import { CardMovie, EmptyCard } from "../../components";

export default {
  name: "Home-View",
  data() {
    return {
      search: "",

      seachResult: [],
    };
  },
  computed: {
    jsonData() {
      const seachResult = this.$moviesData.data.filter((movie) =>
        movie.title.toLowerCase().includes(this.search.toLowerCase())
      );

      let data = this.search == "" ? this.$moviesData.data : seachResult;
      return data;
    },
  },
  components: { CardMovie, EmptyCard },

  methods: {
    routoToAdd() {
      this.$router.push("/addmovie");
    },
    viewDetail(id) {
      this.$router.push({
        path: `/viewDetail`,
        query: {
          id: id,
        },
      });
    },
    searchAction() {},
  },
};
</script>

<style lang="scss" scoped>
@media screen and (min-width: 767px) {
  .search-container {
    margin: 0 15px;
  }
}
</style>
